extends ../base/index
block main
    .container 
        .row
            .col-md-6.mx-auto
                if(msg)
                    p.alert.alert-success.text-center.m-3 #{msg}
                if(error)
                    p.alert.alert-danger.text-center.m-3 #{error}
                if(!categorias.length)
                    p.alert.alert-danger.text-center.mt-5 No existen categorias registradas 
                else 
                    .container 
                        .row 
                            table.table.table-striped.mb-5.bg-success
                                table.table.table-striped.mb-5
                                    thead.background-table.text-center.bg-info
                                        th(scope='col') Nombre
                                        th(scope='col') Editorial
                                        th(scope='col') Acción
                                        for categoria of categorias
                                            tbody.text-center
                                                tr
                                                th(scope='row') #{categoria.nombre}
                                                th(scope='row') #{categoria.editorial}
                                                td
                                                    a(href=`/categoria-eliminar/${categoria.id}` onClick=`return confirm('¿Esta seguro en eliminar la categoria: ${categoria.nombre}?')`).btn.btn-danger.ml-2 Eliminar